<html>
  <head>
    <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TethneWeb | {% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}"
  rel="stylesheet" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js.css' %}"></script>
  </head>
  <body>

    <div class="container body">
      <div class="container-fluid header-image" style="background-color:ED734A; height:70px; font-weight:bold; font-size:3em; color:#FFF;">
          <div class="row">
            <div class="col-sm-1">
              <center><img src="{% static 'imgs/tethne_logo_round.png' %}" style="width:68px; height:auto; padding:5px;" /></center>
            </div>
              <div class="col-sm-4">
              Tethne-Web
              </div>
          </div>
      </div>
      <nav class="navbar navbar-default" style="font-size:1.5em;">
        <div class="container-fluid">

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" style="float:left; display:block;">
              <li><a href="#">Home<span class="sr-only">(current)</span></a></li>
              <li><a href="#">Dashboard</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          <!--   Search Bar
          <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
          </form>
          -->
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Login</a></li>
            </ul>
          </div>
        </div>
      </nav>
  <h3>{% block head %}{% endblock %}</h3>
  {% block content %}{% endblock %}

    <div class="container footer" style="bottom:0; display:block; border:none; background-color:#F9F9F9;">
      <div class="well">
        <div class="rows">
          <div class="col-sm-4" style="text-align:left;"><strong><p>Web Wing of</p><p class="text-primary"><a href="http://diging.github.io/tethne/"><h5>Tethne Library</h5></a></p></strong></div>
          <div class="col-sm-4" style="text-align:left;"><center><img src="{% static 'imgs/gplv3-127x51.png' %}" style="width:150px; height:auto;" /></center></div>
          <div class="col-sm-4" style="text-align:right;"><strong>
            <p>An  academic unit of</p><p class="text-primary"><a href="http://devo-evo.lab.asu.edu/computational-hps"><h5>Computational HPS Group</h5></a></p>
            <p class="text-primary"><h6><a href="http://cbs.asu.edu/">Center for Biology & Society</a></h6></p>
          </div>
        </div>
      </div>
    <br/>
    <br/>
    </div>

    </div>

  </body>
</html>
